.vscode
log.txt
profiler.txt
null.d
docs/html
docs/latex

# Visual Studio files
.vs
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Build tools and scripts
**.exe
**.sh
premake5
docs/mdbook

# Output files
**/Makefile
**.d
**/profiler.txt
obj/
bin/
build/
vendor/glfw/bin/
vendor/glfw/obj/
vendor/glfw/build/
vendor/glad/bin/
vendor/glad/obj/

#CMake
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps
